* {
   box-sizing: border-box;
}

body {
   background-color: #3333;
}


.redd {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 1rem;
}

.personaje {
   display: inline;
}